@charset "UTF-8";

@font-face {
    font-family: 'HelveticaNeue-Condensed';
    src: url('../fonts/HelveticaNeue-Condensed.otf') format('opentype');
}

@font-face {
    font-family: 'baramond';
    src: url('../fonts/Baramond.ttf') format('truetype');
}



html,body {
    background-color: #eae9e4;
    background-image: url(../images/outdoor-electronics.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center middle;
    font-size: 16px;
    font-family: serif;
    color: #fff; /*#262734;*/
}

header h1{
    margin: 8px 2px -6px 18px;
    font-weight: bold;
    font-size: 2em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px;
    color: #262734;
    border-bottom: 3px solid #e6c213;
    font-size: 16px;
    background-color: rgba(255,255,255, 0.5);
    z-index: 10;
    font-family: "Helvetica Neue",Arial,sans-serif
}

section {
    margin: 0.5em;
    text-align: justify;

   /* text-justify: distribute; */
}

hr {
    border: none;
    background-image: url("../images/hr.svg");
    width: 540px;
    height: 40px;
    margin: 0 auto;
}

#content h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

pre {
  border-radius: 4px;
  font-size: 0.9em;
}

input {
    margin-bottom: 6px;
}

a,
a:visited {
    color: #6CBAD8;
}

a.btn {
    color: #fff;
}

i {
    font-style: italic;
}

blockquote {
    background: #fff;
    border-left: 4px solid #9DD059;
}

dt {
    font-weight: bold;
}

dd {
    padding: 2px 20px;
}

small {
    font-size: 0.7em;
}

.code {
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 1px 3px;
    font-size: 14px;
    font-family: monospace;
}

.grey {
    color: #b3b3b3;
    font-size: 13px;
    font-family: monospace;
}

.important {
    border-bottom: 2px solid #CC6D0D;
}

.tough {
    font-size: 1em;
    font-weight: bold;
}

.demo {
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    padding: 4px;
    font-family: sans-serif;
}

    .demo ul {
        margin-bottom: 2px;
    }

.yellow {
    color: #e6c213;
}

.orange {
    color: #CC6D0D;
}


.center {
    display: block;
    margin: 0 auto;
}

#content>div {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.section {
    /*height: 100%;*/
    margin: 12px 20px;
    position: relative;
    display: block;
    padding: 4px;
    overflow: hidden;
    min-width: 320px;
    max-width: 380px;
    background-color: rgba(0,0,0, 0.7);
}

    div.section {
        display: block;
        padding: 0;
        /*max-width: 250px;*/
    }

    .section img {
        display: block;
        margin: 0 auto;
    }

#menu {
    position:absolute;
    right: 30px;
    top: 48px;
    margin-top: -1em;
}

#content {
    margin: 0 auto;
    padding: 120px 10px 20px;
    max-width: 1300px;
    font-family: 'HelveticaNeue-Condensed', Arial, sans-serif;;
    font-weight: 100;
    padding-bottom: 120px;
}

.flexbox {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}

.flexbox.no-wrap {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.flexbox.align-top {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

#dissolver {
    background-color: rgba(255,255,255,0);
}

iframe  {
    display: block;
}

ul {
    margin: 0 14px;
    list-style-type: circle;
}


.slide {
    min-height: 300px;
}

/* Google code prettifier */

.prettyprint .com {
    color: #a3a3a3;
}

.prettyprint .atv,
.prettyprint .str {
    color:  #e6c213;
}



/* Blog */

body.blog,#content.blog {
    font-size: 16px;
    font-family: baramond, monospace, serif;
}

#content.blog {
    max-width: 1000px;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4 {
    font-family: "HelveticaNeue-Condensed", Arial, sans-serif;
}


.blog #content .bracket {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-height: 88px;
}

.bracket>* {
    float: left;
}

.bracket-c {
    width: 90%;
    padding: 20px 50px 5px 50px;
}

.bracket-l {
    position: absolute;
    bottom: 0px;
    top:0px;
    left: 10px;
    width: 20px;
    border: 2px solid #000;
    border-right: none;
}


.bracket-r {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 10px;
    width: 20px;
    border: 2px solid #000;
    border-left: none;
}


.brace-tip {
    position: absolute;
    bottom: 50%;
    width: 10px;
    height: 6px;
    background-color: #000;
}

.brace-tip.l {
    left: 0;
}

.brace-tip.r {
    right: 0;
}



.clj:before {
    color: #a3a3a3;
    font-family: 'HelveticaNeue-Condensed', sans-serif;
}

.clj-title:before {
    content: ":title 　"
}

.clj-date:before {
    content: ":date 　 　"
}

.clj-author:before {
    content: ":author 　 "
}

.clj-content:before {
    content: ":content　"
}

.clj-ympbyc:before {
    content: ":ympbyc　"
}

.clj-blog:before {
    content: ":blog　 　"
}

.clj-meta:before {
    content: ":meta  "
}


ul.no {
    list-style-type: none;
}


.image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img-desc {
    position: relative;
    height: 200px;
}

.img-desc>div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.img-desc .desc {
    padding: 2em 1em;
}

.img-desc:hover .image {
    visibility: hidden;
}


.belt {
    width: 100%;
    margin: 0 55px;
    background-color: rgba(0,0,0,0.7);
    padding: 0.2em;
    text-align: center;
}


#overlay {
    visibility:hidden;
    position:  fixed;
    top:110px;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,0.7);
    overflow-y: scroll;
}

.detail {
    display: none;
    position: relative;
    margin: 5% 10%;
    color: #000;
    font-family: baramond;
}

.detail img {
    max-height: 500px;
}
.detail>.desc {
    position: absolute;
    bottom: 0;
}
.detail>.desc>* {
    background: #fff;
    margin-bottom: 0;
}
.detail h1 {
    display: inline;
    padding: 0;
}

.pointer {
    cursor: pointer;
}
